.logo-container {
  background-color: #f4f4f4;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
