/* header section */
.header-content {
  height: 3.5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.header-content img {
  height: 26px;
}

.header-content nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.header-content a {
  font-size: 1rem;
  font-weight: 500;
}
.active-link {
  border-bottom: 3px solid #f16b51; /* Add bottom border for active link */
}

/* Hamburger Button */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .nav-menu.open {
    display: flex;
    flex-direction: column;
  }

  .header-content nav {
    display: none; /* Hide nav menu by default */
    gap: 1rem;
  }
}
