.itinerary-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.7rem;
}
.itinerary-cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.itinerary-cards-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}
.itinerary-cards h3 {
  font-size: 1.5rem;
  color: #202445;
  font-weight: 500;
  font-family: "Popins", sans-serif;
}
.weather-content {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}
.weather-content img {
  height: 30px;
  width: 30px;
}
.itinerary-cards ul li {
  color: #404040;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Popins", sans-serif;
  line-height: 1.5;
}
