.landing-page {
  height: 100vh;
  width: 100%;
  background-color: white;
}
/* header section */
.header-content {
  height: 56px;
  width: 100%;
  background-color: transparent;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}
.header-content img {
  height: 26px;
}
.h-explorer-btn {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f16b51;
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.header-content nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.header-content a {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.background-hero {
  height: 100%;
  width: 100%;
  background-color: #f16b51;
  display: flex;
  justify-content: center;
  align-items: center;
}
