.location-btn {
  height: 3.1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  color: #797c9a;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 2.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.location-btn:hover {
  background-color: #797c9a;
}
